.jumbotron
  %h3 One last step...
  %p Add your email to complete signup.
  - if @user.errors.any?
    - @user.errors.full_messages.each do |msg|
      .alert.alert-danger= msg
  %form{ role: 'form', method: 'post', action: create_user_url }
    .form-group
      %input.form-control{ type: 'email', name: 'email', placeholder: 'Enter email address', value: @user.email }
    .form-group
      %button.btn.btn-lg.btn-warning{ type: 'submit' } Submit
