%div.modal.fade#poi-results{ :tabindex=>'-1', :role=>'dialog', :'aria-labelledby'=>'poi-results-label', :'aria-hidden'=>'true' }
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type=>'button', :'data-dismiss'=>'modal', :'aria-hidden'=>'true' } &times;
        %h1.modal-title#poi-results-label
          Nearby Places
      %div.modal-body 
        Missing something?
        %a.btn.btn-warning{ :href=>'/pois/new/choose_category' }+ Add a New place
      %ul.list-group#poi-results-list
      %div.modal-footer &copy; OpenStreetMap contributors (that's you!)
