%div.modal.fade#poi-results{ :tabindex=>'-1', :role=>'dialog', :'aria-labelledby'=>'poi-results-label', :'aria-hidden'=>'true' }
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type=>'button', :'data-dismiss'=>'modal', :'aria-hidden'=>'true' } &times;
        %h4.modal-title#poi-results-label
          Nearby POIs
      %div.modal-body
        %p.text-center
          Not here?
          %strong
            %a{ :href=>'/pois/new/choose_category' } Add a new POI
        %ul.list-group#poi-results-list
      %div.modal-footer POIs &copy; OpenStreetMap contributors (that's you)
