- if !current_user
  .jumbotron
    %h1 Welcome to POI Pond!
    %h2 Hop in, the water's warm...
    %p POI Pond is a fun way to contribute points of interest like your favorite neighborhood restaurants, bars, and stores to OpenStreetMap.
    %a.btn.btn-warning.btn-lg.navbar-btn{ href: '/auth/osm', type: 'button' } Login with OSM
