@import "bootstrap";

body {
  padding-bottom: 70px; 
}

.jumbotron {
  padding: 20px;
}

.jumbotron h1 {
  color: #FF530B;
  font-weight: 200;
  line-height: 1.2em;
}

h1 {
  color: #FF530B;
  font-weight: 200;
  margin-top: 0px;
}

.add-places h1 {
  color: #9a9a9a;
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
}

.modal-header h1 {
  font-size: 18px;
  color: #000;
  font-weight: 500;
  margin: 0px;
}

h2 {
  margin-top: 0px;
}

h3 {
  font-weight: 500;
  margin-top: 0px;
}

h5 {
  color: #FF530B;
  font-weight: 500;
  margin-top: 0px;
}

h6 {
  color: #8c8c8c;
  margin-top: 0px;
}

.jumbotron .btn-warning {
  border-color: #ACACAC;
  background-color: #FF530B;
}

.jumbotron .btn-warning:hover {
  border-color: #ACACAC;
  background-color: #FF530B;
}

.jumbotron .btn-warning:active {
  border-color: #ACACAC;
  background-color: #d33e00;
}

.btn-warning {
  border-color: #ACACAC;
  background-color: #FF530B;
}

.btn-warning:hover {
  border-color: #ACACAC;
  background-color: #FF530B;
}

.btn-warning:active {
  border-color: #ACACAC;
  background-color: #d33e00;
}

.btn-lg.pull-right {
  margin-top: 10px;
}

.navbar-fixed-bottom {
  background-color: transparent;
  border: none;
}

.navbar-fixed-bottom img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.navbar-brand {
  padding-top: 2px;
  padding-bottom: 2px;
}

.navbar-brand img {
  width:173;
  height:40;
  padding-top: 5px;
  padding-bottom: 5px;
}

.jumbotron {
  opacity: 0.85;
  background-color: #fff;
}

#map {
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.label-info {
  background-color: #88dbf4;
  margin-right: 10px;
  vertical-align: middle;
}

#poi-map {
  width: 100%;
  height: 300px;
}

.modal-footer {
  text-align: center;
}

.modal-content .modal-body {
  background-color:#c4c4c4;
  color:#FFF;
  padding: 10px 15px 10px 15px;
}

.poi-categories .list-group-item {
  height: 50px;
  font-weight: 500;
}

.list-group-item img{
  padding: 4px;
  margin-right: 5px;
  margin-top: -2px;
  border-radius: 15px;
  background-color: #c4c4c4;
}

.list-group-item img:hover {
  background-color: #ff530b;
}

.poi-categories .list-group a:hover {
  color:#ff530b;
}

#poi-results-list img  {
  padding: 4px;
  margin-right: 5px;
  margin-top: -26px;
  border-radius: 15px;
  background-color: #c4c4c4;
}

#poi-results-list a:hover {
  height: 60px;
  color:#ff530b;
  border-radius: 0px;
}

#poi-results-list a {
  min-height: 60px;
}

.pick-category {
  padding-top: 5px;
  padding-bottom: 10px;
}

.pick-category .label-info {
  margin-top: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

/* Right carat icon for category list */
.grey {
  padding-top: 5px;
  color: #c4c4c4;
}

.grey:hover {
  color: #ff530b;
}

/* Floating address field on a single line */
.col-xs-6 {
  float: none;
  padding: 0px;
  margin-left: 0;
  margin-right: 0;
}

.breadcrumb {
  margin-top: 0px;
  background-color: #c4c4c4; 
  color: #fff;
}

.breadcrumb > li + li:before {
  content: "| ";
  color:#fff;
}

.help-block {
  margin: 0px; 
  font-size: 12px;
  color: #9a9a9a;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
  border-color: rgba(255, 83, 11, 1);
  box-shadow: inset 0 .5px .5px rgba(255, 83, 11, 0.75), 0 0 8px rgba(255, 83, 11, 0.2);
}