#poi-map
%input#lat{ :type=>'hidden', :name=>'lat' }
%input#lon{ :type=>'hidden', :name=>'lon' }
%script
  var map = L.mapbox.map('poi-map', 'randyme.h29f04e6');
  map.locate({setView: true, maxZoom: 19});
  map.on('locationfound', function (e) {
  var marker = L.marker(e.latlng, { draggable: true });
  $('#lat').val(e.latlng.lat);
  $('#lon').val(e.latlng.lng);
  marker.on('dragend', function(e) {
  $('#lat').val(e.target._latlng.lat);
  $('#lon').val(e.target._latlng.lng);
  });
  marker.addTo(map);
  });
  map.on('locationerror', function (e) {
  console.log(e);
  });
%p Drag the pin above!
