%h1 Add a new Place
%h2 Step 1: Pick a category
.list-group
  - @categories.each do |category|
    %a.list-group-item{ href: "/pois/new/choose_category/#{category.id}" }
      %span= category.name
      %span.pull-right &gt;
