%form{ :role=>'form', :method=>'post', :action=>create_poi_url }
  .container
    .col-md-8
      = render :partial=>'editable_fields'
      %button.btn.btn-default{ :type=>'submit' } Submit
    .col-md-4= render :partial=>'editable_map'
