%form{ :role=>'form', :method=>'post', :action=>update_poi_url(params[:osm_id]) }
  .container
    .col-md-8
      = render :partial=>'editable_fields'
      %button.btn.btn-default{ :type=>'submit' } Submit
    .col-md-4= render :partial=>'uneditable_map'
