%form{ :role=>'form', :method=>'post', :action=>update_poi_url(params[:osm_id]) }
  .form-group
    %label.control-label{ :for=>'name' } Name
    %input.form-control.input-lg#name{ :type=>'text', :name=>'name', :value=>@poi.name, :placeholder=>'Add me!' }
  .form-group
    %label.control-label{ :for=>'addr_housenumber' } House Number
    %input.form-control.input-lg#addr_housenumber{ :type=>'text', :name=>'addr_housenumber', :value=>@poi.addr_housenumber, :placeholder=>'Add me!' }
  .form-group
    %label.control-label{ :for=>'addr_street' } Street Name
    %input.form-control.input-lg#addr_street{ :type=>'text', :name=>'addr_street', :value=>@poi.addr_street, :placeholder=>'Add me!' }
  .form-group
    %label.control-label{ :for=>'addr_city' } City
    %input.form-control.input-lg#addr_city{ :type=>'text', :name=>'addr_city', :value=>@poi.addr_city, :placeholder=>'Add me!' }
  .form-group
    %label.control-label{ :for=>'addr_postcode' } Postal Code
    %input.form-control.input-lg#addr_postcode{ :type=>'text', :name=>'addr_postcode', :value=>@poi.addr_postcode, :placeholder=>'Add me!' }
  .form-group
    %label.control-label{ :for=>'phone' } Phone Number
    %input.form-control.input-lg#phone{ :type=>'text', :name=>'phone', :value=>@poi.phone, :placeholder=>'Add me!' }
  .form-group
    %label.control-label{ :for=>'website' } Website
    %input.form-control.input-lg#website{ :type=>'text', :name=>'website', :value=>@poi.website, :placeholder=>'Add me!' }
  .form-group
    %label.control-label{ :for=>'amenity' } Amenity
    %input.form-control.input-lg#amenity{ :type=>'text', :name=>'amenity', :value=>@poi.amenity, :placeholder=>'Add me!' }
  .form-group
    %label.control-label{ :for=>'cuisine' } Cuisine
    %input.form-control.input-lg#cuisine{ :type=>'text', :name=>'cuisine', :value=>@poi.cuisine, :placeholder=>'Add me!' }
  %button.btn.btn-default{ :type=>'submit' } Submit
